body {
    /* background-color: blue; */
}

nav {
    margin-bottom: 1em;
}

h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 0.3em;
    margin: 0em;
}

.alert {
    padding: 0.1em;
}

.card {
    margin: 0.5em;
    user-select: none;
}
.card-body {
    padding: 0em;
}
.card-img {
    cursor: pointer;
    height: 10em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.party-icon {
    height: 3em;
    width: 3em;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.rooms {
    margin: 0.2em;
}
.rooms a {
    text-decoration: none;
}
.chat {
    height: 60vh;
}
.message {
    width: 100%;
    margin: 0;
    padding: 0em 0.5em;
}
.chat-input {
    height: 2.5em;
    margin: 0;
}